services:
  nginx:
    image: ghcr.io/dbca-wa/nginx-sigsci:1.28.2
    ports:
      - mode: host
        protocol: tcp
        published: 80
        target: 80
      - mode: host
        protocol: tcp
        published: 443
        target: 443
      - mode: host
        protocol: tcp
        published: 10246
        target: 10246
    # Healthcheck relies on Nginx configuration for endpoint.
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:10246/healthz"]
      start_period: 10s
      interval: 5s
      timeout: 1s
      retries: 5
    volumes:
      - /var/nginx-etc/letsencrypt:/etc/letsencrypt
      - /var/nginx-etc/nginx:/etc/nginx:ro
      - nginx-process:/var/run
    environment:
      - TZ=Australia/Perth
    logging:
      driver: fluentd
      options:
        fluentd-address: "localhost:24224"
        tag: "nginx.access"
  sigsci:
    image: ghcr.io/dbca-wa/nginx-sigsci:1.28.2
    # https://docs.fastly.com/en/ngwaf/installing-the-agent#start-the-agent
    command: sigsci-agent --log-out=stdout
    volumes:
      - /var/nginx-etc/sigsci:/etc/sigsci
      - nginx-process:/var/run
    environment:
      - TZ=Australia/Perth
  certbot:
    image: ghcr.io/dbca-wa/certbot-dns-cloudflare-azure:5.2.2
    entrypoint: /etc/letsencrypt/certbot-entrypoint
    volumes:
      - /var/nginx-etc/letsencrypt:/etc/letsencrypt
      - letsencrypt-log:/var/log/letsencrypt
    environment:
      - TZ=Australia/Perth
  fluentd:
    image: fluentd:v1.19-debian-1
    ports:
      - 24224:24224
    volumes:
      - /var/nginx-etc/fluentd:/fluentd/etc
      - fluentd-log:/fluentd/log
    environment:
      - TZ=Australia/Perth
  log-shipper:
    image: mcr.microsoft.com/azure-cli:2.72.0
    volumes:
      - fluentd-log:/fluentd/log:ro
    environment:
      - TZ=Australia/Perth
    env_file: .env.log-shipper
    # Required .env.log-shipper values: HOSTNAME, AZURE_STORAGE_CONNECTION_STRING
    entrypoint: /bin/bash -c
    command:
      [
        'while true; do az storage blob upload-batch --connection-string $$AZURE_STORAGE_CONNECTION_STRING --destination access-logs-json/$$HOSTNAME --source /fluentd/log --pattern "*.json" --no-progress --only-show-errors --overwrite false --validate-content; sleep 300; done',
      ]

volumes:
  nginx-process:
  fluentd-log:
  letsencrypt-log:
